body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 2rem;
}

h2 {
  margin: 0;
}
/* Disable text selection globally */
* {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For WebKit (Chrome, Safari, etc.) */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  -moz-user-select: none; /* For Firefox */
}

/* Optional: Allow selection for specific elements, like input fields or other needed areas */
input, textarea {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
}


a {
  text-decoration: none;
  color: blue;
}
.card {
  border: none;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-body {
  font-size: 0.875rem;

/* Disable long-press touch gestures causing selection on mobile */
* {
  -webkit-tap-highlight-color: transparent; /* Disable blue highlight effect on mobile */
  touch-action: manipulation; /* Prevent tap/gesture interference */
}
#search-bar {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

#default-apk-list,
#search-results {
  display: flex;
  flex-wrap: wrap;
}
